body{
    margin: 0;
    padding: 0;
    font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
#header{
    background-color:#003580;
    padding-top: 20px;
    height: 150px;
    margin-bottom: 30px;
}
#line1{
    display: flex;
    width: 80%;
    margin: auto;    
}
#line1a{
    width: 40%;
}
#logo{
    width: 20%;
}
#line1b{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    color: white;
}
#line1b h4{
    font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 10px 5px 0px 5px;
    margin:0 10px ;
}
#line1b>h4:hover{
    background-color: #27538f;
    color: white;
}
#ind{
    width: 20%;
    height: 30%;
    border-radius: 60%;
    margin-top: 5px;
}
#rg{
    background-color: white;
    color:#003580 ;
}
#rg>a{
    text-decoration: none;
}
#rg>a:hover{
    color: white;
}

#line2{
    width: 80%;
    margin:0 auto;
}
#line2>a{
    color: white;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
}

#line2>a:hover{
    background-color: #27538f;
}
/* ------------------------------------------------------------------- */
.container{
    display: flex;
    width: 80%;
    margin:30px auto;
}
.container>div{
    margin: 20px;
}
.small{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.small>img{
    width: 30%;
}
.view{
    display: flex;
    justify-content: space-between;
}
.view>p{
    border: 1px solid grey;
    padding: 10px;

}

#book{
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: #003580;
    color: white;
    border: none;
    
}
#book:hover{
    border-radius: 20px;

}
.sur{
    width: 80%;
    margin: auto;
}
.surroundings{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.dis{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

/* ----------------------------------------------------------- */


#subs{
    border: 1px solid black;
    padding: 50px 0px;
    text-align: center;
    background-color: #003580;
    color: white;
}
#subs>input{
    width: 25%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
}
#subs>button{
    width: 10%;
    height: 55px;
    font-size: 20px;
    background-color: #3f88ef;
    border: none;
    border-radius: 5px;
}
#subs>button:hover{
    background-color: #095dd2;
}

#anchor{
    margin: 5px 0px;
    padding: 10px;
    background-color: #003580;
    text-align: center;
}
#anchor>a{
    color: white;
   margin: 15px;
}

#footer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
#footer>div>a{
    text-decoration: none;
    color: #003580;
}
#last{
    margin: 20px;
    text-align: center;
}
#partner{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin:40px auto;
}